
@model Doctor_Appointment.Models.Login

@{
    ViewData["Title"] = "Görevli Girişi";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #e9ecef; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .login-container {
            max-width: 400px; 
            margin: auto;
            padding: 40px; 
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
            margin-top: 100px; 
        }

        .login-title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            color: #343a40;
        }

        .form-group label {
            font-weight: 600; 
            color: #495057; 
        }

        .btn-primary {
            width: 100%;
            padding: 10px; 
            border-radius: 5px; 
            background-color: #007bff; 
            border: none; 
            transition: background-color 0.3s; 
        }

            .btn-primary:hover {
                background-color: #0056b3; 
            }

        .mt-3 {
            margin-top: 20px; 
        }

        .footer {
            text-align: center;
            margin-top: 30px; 
            font-size: 14px;
            color: #6c757d; 
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1 class="login-title">Görevli Girişi</h1>
        <form method="post" asp-action="Login">
            @Html.AntiForgeryToken() 
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" placeholder="Kullanıcı Adı" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>

        
    </div>

    <footer class="footer">
        <p>© 2024 Şirket Adı. Tüm hakları saklıdır.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
